.customSelect {
    position: relative;
    width: 200px;
  
    .selectedOption {
        text-align: right;
      padding: 8px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
  
    .optionsList {
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      display: none;
  
      &.active {
        display: block;
      }
  
      li {
        text-align: right;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: white;
        }
      }
    }
  }