@import '../shared/styles/mixins/breakpoints';



.root {
    padding-bottom: 48px;
}

.categories  {
 margin-top: 6px;
}

.hero {
    margin-top: 8px;
    padding: 0 4px;
}


.productsBlock {
    margin-top: 48px;
}

.promoSlider {
    margin-top: 48px;
}


@include breakpoint(md) {

    .root {
        padding-bottom: 124px;
    }
   
    .categories {

        margin-top: 16px;
    }

    .hero {
        margin-top: 20px;
    }

    .promoSlider {
        margin-top: 124px;
    }
}
@include breakpoint(2xl) {
    .hero {
        margin-top: 48px;
    }

    .productsBlock {
        margin-top: 124px;
    }
}