@import '../../../shared/styles/mixins/breakpoints';


.root {
    width: 100%;
}


.inner {
    margin-top: 16px;
    background: white;
    height: 80px;
border-radius: 12px;
padding: 0 24px; 
justify-content: space-between;
display: flex;
align-items: center;

}



.logo {
    height: 56px;
     display: flex;
     align-items: center;
    cursor:pointer;
    .logo_logoMobile {
  display: none;
    }
   
}

.city {
    display: flex;
    align-items: center;
    height: 56px;
    cursor: pointer;
}

.navigation {
    height: 56px;
    display: flex;
    align-items: center;
  
        a {
            height: 100%;
            border-radius: 12px;
            padding: 0 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: rgba(255, 102, 51, 0.15);
            }
        }
    
}

.call {
    padding: 0 1rem;
    border-radius: 12px;
    height: 56px;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;

    &:hover {
                background: rgba(255, 102, 51, 0.15);

    }
}




.rightMenu {
    display: flex;
    gap: 12px;

    .burger {
        display: none;
    }
  
    button {
        display:flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        border: none;
        outline: 1px solid rgba(210, 210, 215, 1);
        border-radius: 12px;
        background: white;
        padding: 1rem;
      
            p {
                font-size: 1rem;
                line-height: 24px;
                font-weight: 500;
                color: rgba(104, 104, 112, 1);
            }

        

        &:hover {
            outline: none;
           background: rgba(245, 245, 245, 1);
            border: none;
            p {
                color: rgba(255, 102, 51, 1);
            }
            svg {
                path {
                    fill: rgba(255, 102, 51, 1);
                 }
                }

        }

        &:active {
            color: white;
            background: rgba(255, 102, 51, 1);
            p {
                color: white;
            }
            svg {
                path {
                    fill: white;
                 }
                }
              
                
                
        }


      
    }


    


}




@media(max-width: 1400px) {
    .number {
        display: none;
    }
}


@media(max-width: 1200px) {
    .inner {
        height: 56px;
    }

    .city {
     font-size: 14px;
     height: 56px;
    }

    .navigation {
        font-size: 14px;
    }

    .rightMenu {

        button {

            padding: 10px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

    }

    .navigation {
        a {
            padding: 0 10px;
        }
    }
}

@media(max-width: 992px) {

  

     .city {
        display: flex;
        justify-content: center;
        width: 100%;
     }

   
   
        .navigation {
            display: none;
        }

        .rightMenu {
        
            gap: 4px;

            .burger {
                 background: rgba(245, 245, 247, 1);
                outline: none;
                display: flex;
            }
        }
}


@media(max-width: 768px) {

    .city {
        font-size: 12px;
    }

    .call {
        display: none;
    }
    .rightMenu {
        .cart {
            display: none;
        }
    }
}

@media(max-width: 576px) {

    


    .logo {
       .logo_logoDesktop {
            display:none;
       }

        .logo_logoMobile {
            display: block;
        }
    }

  

    

    
}