



.root { 
    width: 816px;
    height: 95px;
    border-radius: 12px;
    background: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 16px;


    .list {
        display: flex;
        .list_item {
            display: flex;
            gap:8px;
            justify-content: center;
            align-items: center;
            height: 83px;
            width: 91px;

            .list_item_inner {
                display: flex;
                flex-direction: column;

                .list_item_img {
                    width: 51px;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .list_item_text {
                    text-align: center;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
        }
    }
}